#bd{width: 80%;margin: 0 auto;}
#art_nav{margin-top: 100px;}

/*轮廓*/
#home,#type,#write{border: 1px solid #ddd;border-top:0px;padding-top: 20px;width: 80%;margin-bottom: 100px;}

/*文章管理*/
#myarticles_list_bd{width: 100%;padding: 0 10px 0;}
.myarticles_list_typefun{margin: 10px 0 10px;}
.myarticles_list_typefun select:nth-child(1){
	width: 300px;
}
.myarticles_list_typefun select:nth-child(2){
	width: 150px;
}
.myarticles_list_table{
	width: 100%;
}
.myarticles_list_table thead{
	border-bottom: 1px solid #ddd;
}
.myarticles_list_table th:nth-child(1){
	font-weight:bold;
	width: 50%;
}
.myarticles_list_table th:nth-child(2){
	font-weight:bold;
	width: 15%;
}
.myarticles_list_table th:nth-child(3){
	font-weight:bold;
	width: 15%;
}
.myarticles_list_table th:nth-child(4){
	font-weight:bold;
	width: 20%;
}
.myarticles_list_table tbody tr{
	line-height: 40px;
	border-bottom: 1px solid #ddd;
}
.myarticles_list_table tbody tr:nth-child(even){
	background-color: #ddd;
}
/*end 文章管理*/

/*文章分类*/
#myarticles_type_bd{width: 100%;padding: 0 10px 0;}
.myarticles_type_table{
	width: 100%;
}
.myarticles_type_table thead{
	border-bottom: 1px solid #ddd;
}
.myarticles_type_table th:nth-child(1){
	font-weight:bold;
	width: 50%;
}
.myarticles_type_table th:nth-child(2){
	font-weight:bold;
	width: 15%;
}
.myarticles_type_table th:nth-child(3){
	font-weight:bold;
	width: 15%;
}
.myarticles_type_table tbody tr{
	line-height: 40px;
	border-bottom: 1px solid #ddd;
}
.myarticles_type_table tbody tr:nth-child(even){
	background-color: #ddd;
}
/*end 文章分类*/

/*新写文章*/

/*end 新写文章*/